body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1000;
}

#loader img {
    max-width: 100px;
}

.slider-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left center;
    perspective: 1000px;
}

.slide:nth-child(even) {
    transform-origin: right center;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 50%;
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.control {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    padding: 10px;
    cursor: pointer;
    pointer-events: all;
    transition: background 0.3s;
}

.control:hover {
    background: rgba(255, 255, 255, 0.5);
}

.mini-menu {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.preview {
    width: 60px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

.preview:hover {
    background: rgba(255, 255, 255, 0.3);
}

.virtual-tour-container {
    position: relative;
    width: 100vh;
    height: 100vh; /* 100% de la altura de la ventana */
   /* overflow: hidden; */
}

.virtual-tour-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Estilo general para la sección del mapa */
.map-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda la pantalla */
    overflow: hidden;
}

.map-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilo de los pines */
.pin {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Hover para agrandar el pin */
.pin:hover {
    transform: scale(1.2);
}

/* Información que aparece al pasar sobre un pin */
.info {
    display: none;
    position: absolute;
    top: -100px;
    left: 40px;
    width: 200px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.info h3 {
    margin-top: 0;
}

/* Mostrar información al pasar sobre el pin */
.pin:hover .info {
    display: block;
}

/* Ajustes responsivos para dispositivos móviles */
@media (max-width: 768px) {
    
    .map-section {
        height: auto; /* Ajuste de altura para pantallas pequeñas */
    }

    .pin {
        width: 20px;
        height: 20px;
    }

    .info {
        top: -80px;
        left: 30px;
        width: 150px;
    }

    .info h3 {
        font-size: 16px;
    }

    .info p {
        font-size: 14px;
    }

    .info img {
        max-width: 100%;
    }
    .map-section {
        position: relative;
        width: 100%;
        height: 100vh; /* Ocupa toda la pantalla */
        overflow: hidden;
    }
}


.pin-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px; /* Opcional: para bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Opcional: para un efecto de sombra */
}


.podcast-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #4b6cb7 0%, #182848 100%);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.podcast-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.spotify-embed {
    width: 100%;
    height: 80%;
}

.spotify-embed iframe {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    border: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .podcast-section h2 {
        font-size: 20px;
    }
    
    .spotify-embed {
        height: 60%;
    }
}
.fullscreen-image {
    width: 100vw;  /* Ocupa el 100% del ancho de la ventana */
    height: 100vh; /* Ocupa el 100% de la altura de la ventana */
    object-fit: cover; /* Cubre todo el área de la pantalla sin deformar la imagen */
    position: absolute; /* Asegura que la imagen esté posicionada en toda la pantalla */
    top: 0;
    left: 0;
}
